.header{
    text-decoration: none;
    color: white;
}
.header:hover{
    text-decoration: none;
    color: white;
}
.mainHeader{
    text-decoration: none;
    font-size: 2rem;
    color: white;
    margin-left: 10px;
}
.mainHeader:hover{
    text-decoration: none;
    color: white;
}